@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.main-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-section {
  background-image: url("./images/HeroImage.png");
  height: 773px;
  width: 1440px;
  padding: 30px 118px;
  color: white;
}

.logo {
  background-image: url("./images/logo.png");
  width: 100px;
  height: 35px;
  background-position: center;
  background-size: cover;
}

.human-icon {
  background-image: url("./images/user.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-items {
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-weight: 600;
}

.user-button {
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pure-magic {
  color: #e8edf2b8;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}

.locations {
  background-image: url("./images/map.png");
  height: 900px;
  width: 1440px;
}

.location-card {
  width: 513px;
  border-radius: 120px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.day-circle {
  background-color: white;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sukhbaatar {
  background-color: #eee9d9;
}

#amarbaysgalant {
  background-color: #8bb8c1cc;
}

#togoo {
  background-color: #aad8d7cc;
}

#nuur {
  background-color: #8bc0bdcc;
}

#huvsgul {
  background-color: #97cce0cc;
}

#sukhbaatar-img {
  background-image: url("./images/suhbaatar.png");
  height: 245px;
  width: 245px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 1100px;
  right: 200px;
  opacity: 0;
}

#sukhbaatar:hover ~ #sukhbaatar-img {
  opacity: 1;
}

.location-card:hover {
  border: 2px solid white;
}
