.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: beige;
}
